<!DOCTYPE html>
<html>
    <head>
        <meta property="og:title" content="{{ .Title }}">
        <meta property="og:description" content="{{ .Summary }}">
        <meta property="og:image" content="{{ .Params.image | absURL }}">
        <meta property="og:url" content="{{ .Permalink }}">
        <meta property="og:type" content="article">
        <meta property="og:site_name" content="The Everything Journal">        
    </head>

    {{- partial "head.html" . -}}
    <body>
        {{- partial "header.html" . -}}
        {{- block "main" . }}{{- end }}
        {{- partial "footer.html" . -}}
    </body>
</html>
