{{ $paginator := .Paginator }}
{{ if .IsHome }}
  {{ $posts := where .Site.RegularPages "Type" "posts" }}  
  {{ $paginator = .Paginate $posts 3 }}  <!-- Change '3' to the number of posts per page -->
{{ else }}
  {{ $currentSection := .Section }}
  {{ $posts := where .Site.Pages "Section" $currentSection }}
  {{ $paginator = .Paginate $posts 3 }}
{{ end }}

<div class="cards" id="results">
    {{ range $paginator.Pages }}
    <div class="card h-entry">
        <a href="{{ .Permalink }}" class="u-url">
            {{ with .Params.image }}
            <img src="{{ . }}" alt="{{ .Title }}" class="u-photo">
            {{ else }}
                {{ partial "randImage" . }}
            {{ end }}
            <div class="text">
                <h2 class="p-name">{{ .Title }}</h2>
                <p class="small e-content">{{ .Summary }}</p>
            </div>
        </a>
    </div>
    {{ end }}
</div>

<!-- Pagination links -->
{{ if gt $paginator.TotalPages 1 }}
    <div class="pagination">
        {{ if $paginator.HasPrev }}
            <a href="{{ $paginator.Prev.URL }}">before</a>
        {{ end }}
        <div class="pages">
            {{ range $paginator.Pagers }}
                <a href="{{ .URL }}"{{ if eq . $paginator }} class="active"{{ end }}>{{ .PageNumber }}</a>
            {{ end }}
        </div>
        {{ if $paginator.HasNext }}
            <a href="{{ $paginator.Next.URL }}">more</a>
        {{ end }}
    </div>
{{ end }}
