<script>
    window.store = {
    {{ range where (where .Site.RegularPages "Type" "posts") "Section" "posts" }}
    "{{ .Permalink }}": {
        "title": {{ .Title | jsonify }},
        "description": {{ .Description | default .Summary | plainify | jsonify }},
        "content": {{ .Content | plainify | jsonify }},
        "tags": {{ .Params.tags | default (slice) | jsonify }},
        "categories": {{ .Params.categories | default (slice) | jsonify }},
        "url": {{ .Permalink | jsonify }}
        },
    {{ end }}
    }
</script>
<!-- Include Lunr and code for your search function -->
<script src="/js/lunr.min.js"></script>
<script src="/js/search.js"></script>
